<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Course by ID</title>
</head>
<body>
	<h3 th:text="'ID = ' + ${course.id_course}">Course ID</h3>
	<h3 th:text="'Nama = ' + ${course.nama}">Course Nama</h3>
	<h3 th:text="'SKS = ' + ${course.sks}">Course sks</h3>
	<h3>Mahasiswa yang diambil</h3>
	<ul th:each="student,iterationStatus: ${course.students}">
		<li th:text="${student.npm} + '-' + ${student.name} + ' '">
			NPM-nama</li>
	</ul>
</body>
</html>

